
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  padding: 20px;
  border-bottom: 2px solid black;
}

.header-login {
  width: 10%;
  padding-right: 10px;
}

.header-logo {
  animation: App-logo-spin infinite 20s linear;
  float: left;
  width: 5%;
}

.header-main {
	display: block;
  width: 200px;
	height: 75px;
  padding: 5px;
	margin: auto;
}
