.login, .signup {
  padding: 60px 0;
  margin: auto;
  width: 70%;
  max-width: 800px;
}

.login, .signup form {
  margin: 0 auto;
}

.login-header {
  text-align: center;
  padding: 20px;
}

.login-header-logo {
  text-align: center;
  width: 50%;
}

.signup-address {
	display: flex;
  flex-direction: row;
}

h4 {
  text-justify: center;
}
