
.review-form {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.review-form-header {
  height: 30%;
  display: inline-block;
}

.review-form-header-logo {
  padding: 5px;
  width: 25%;
  float: left;
}

.review-form-rest-logo {
  padding: 5px;
  width: 25%;
  height: 25%;
  float: right;
}

.review-form-restaurant {
  display: block;
}
.review-form-delivery {
  display: block;
}
.review-form-food {
  display: block;
}
